src/main/mule/interface.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <apikit:config name="smartsaleskit-system-api-config" api="resource::cb2a4d97-b91a-47bb-9eb0-9a97b16ff2a5:smartsaleskit-system-api:1.0.7:raml:zip:smartsaleskit-system-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="smartsaleskit-system-api-main">
        <http:listener config-ref="ExperienceAPIConfig" path="/${app_api.path}/${app_api.version}/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <set-variable value="#[attributes.queryParams]" doc:name="commonQueryParams" doc:id="267a05d4-eb25-43c1-b834-285584d1238a" variableName="commonQueryParams" />
        <apikit:router config-ref="smartsaleskit-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "integrationStatusCode":"SSK_Integration_API",
  "integrationErrorMessage": error.description,
  "displayErrorMessage":  error.description,
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "integrationStatusCode":"SSK_Integration_API",
  "integrationErrorMessage": error.description,
  "displayErrorMessage":  error.description,
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "integrationStatusCode":"SSK_Integration_API",
  "integrationErrorMessage": error.description,
  "displayErrorMessage":  error.description,
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[405]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "integrationStatusCode":"SSK_Integration_API",
  "integrationErrorMessage": error.description,
  "displayErrorMessage":  error.description,
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[406]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "integrationStatusCode":"SSK_Integration_API",
  "integrationErrorMessage": error.description,
  "displayErrorMessage":  error.description,
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[415]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "integrationStatusCode":"SSK_Integration_API",
  "integrationErrorMessage": error.description,
  "displayErrorMessage":  error.description,
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="smartsaleskit-system-api-console">
        <http:listener config-ref="ExperienceAPIConfig" path="/console/${app_api.version}/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body><![CDATA[#[payload]]]></http:body>
                <http:headers><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="smartsaleskit-system-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  "integrationStatusCode":"SSK_Integration_API",
  "integrationErrorMessage": error.description,
  "displayErrorMessage":  error.description,
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="get:\product:smartsaleskit-system-api-config">
        <flow-ref doc:name="product_listSub_Flow" doc:id="cfd3d817-2b72-49d7-ab9a-93d9c9b2c015" name="product_listSub_Flow" />
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="24cc6896-719c-46a2-b473-f2cab85a432a" doc:name="response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
var comn_prod = vars.COMN_PROD_RES
var comn_img = vars.COMN_PROD_IMG_RES
var comn_count = vars.COMN_PROD_COUNT_RES[0]
---
{
	limit: vars.commonQueryParams.take default "",
	offset: vars.commonQueryParams.skip default "",
	total: valuesOf(comn_count)[0] default "",
	results: comn_prod map (prod_res) -> {
//		id: prod_res.id,
		cmsId: prod_res.CMS_ID default "",
		code: if(prod_res.Barcode != null) prod_res.Barcode 
				else if (prod_res.MAT_NO_SAP_R3 != null) prod_res.MAT_NO_SAP_R3 
				else prod_res.MAT_NO_HANA default "",
		barcode: prod_res.Barcode default "",
		name: prod_res.Product_Name_TH default "",
//		price: prod_res.price,
		parentId: prod_res.parentId default "",
		status: if(prod_res.check_parent_res.Active_Status_Website == "Yes") "active" 
				else if(prod_res.check_parent_res.Active_Status_Website == "No") "inactive"
				else "" default "",
//		createdDate: prod_res.createdDate,
		images: comn_img filter ((img_filter) -> (img_filter.CMS_ID == prod_res.CMS_ID)) map {
//			id: $.id,
			productId: $.PROD_ID default "",
			imageUrl: $.Attachment_URL default "",
			fileName: $.File_name default ""
		},
		info: {
			productId: prod_res.PROD_ID default "",
			brand: prod_res.Brand_Name_TH default "",
			color: prod_res.Colour default "",
			basicData: prod_res.Basic_Data default "",
			shortDescription: prod_res.Short_Description default ""
		}
	}
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\product\(id):smartsaleskit-system-api-config">
        <ee:transform doc:name="set id variable">
            <ee:variables>
                <ee:set-variable variableName="id">attributes.uriParams.'id'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <flow-ref doc:name="product_detail_subFlow" doc:id="a158e6b1-c39c-40ce-ace8-0e54a55523e4" name="product_detail_subFlow" />
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="response" doc:id="860b75fb-dde8-43b0-b848-b0fcdf1c1be8">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
var comn_prod = vars.COMN_PROD_RES[0]
var comn_img = vars.COMN_PROD_IMG_RES
var comn_attach = vars.COMN_PROD_DTL_IMG[0]
var comn_app = vars.COMN_PROD_DTL_RES[0]
---
{
//	id: null,
	cmsId: comn_prod.CMS_ID default "",
	code: if(comn_prod.Barcode != null) comn_prod.Barcode 
		else if (comn_prod.MAT_NO_SAP_R3 != null) comn_prod.MAT_NO_SAP_R3 
		else comn_prod.MAT_NO_HANA default "",
	barcode: comn_prod.Barcode default "",
	name: comn_prod.Product_Name_TH default "",
//	price: comn_prod.price,
//	parentId: null,
	status: if(comn_prod.Active_Status_Website == "Yes") "active" 
				else if(comn_prod.Active_Status_Website == "No") "inactive"
				else "" default "",
//	createdDate: null,
	images: comn_img map {
//		id: comn_img,
		syncId: $.Sitecore_ID default "",
		productId: $.PROD_ID default "",
		imageUrl: $.Attachment_URL default "",
		fileName: $.File_name default "",
//		status: comn_img
	},
	info: {
		productId: comn_prod.PROD_ID default "",
		cmsId: comn_prod.CMS_ID default "",
		sapId: comn_prod.MAT_NO_SAP_R3 default "",
		hanaId: comn_prod.MAT_NO_HANA default "",
		sourceSystem: comn_prod.SRC_SYS default "",
		barcode: comn_prod.Barcode default "",
		businessUnit: comn_prod.BU default "",
		brand: comn_prod.Brand_Name_TH default "",
		subBrand: comn_prod.Subbrand default "",
		color: comn_prod.Colour default "",
		basicData: comn_prod.Basic_Data default "",
		shortDescription: comn_prod.Short_Description default "",
		subCategory: comn_prod.PH2 default "",
		mainSapId: comn_prod.Main_Product_SAP_ID default "",
		groupType: comn_prod.Group_Type default "",
		filterApplication: comn_prod.Filter_Application default "",
		filterAvailability: comn_prod.Filter_Availability default "",
		filterBenefit: comn_prod.Filter_Benefit default "",
		filterCollection: comn_prod.Filter_Collection default "",
		filterColor: comn_prod.Filter_Color default "",
		filterDesign: comn_prod.Filter_Design default "",
		filterDiameter: comn_prod.Filter_Diameter default "",
		filterFacing: comn_prod.Filter_Facing default "",
		filterFunction: comn_prod.Filter_Function default "",
		filterLength: comn_prod.Filter_Length default "",
		filterMaterial: comn_prod.Filter_Material default "",
		filterModel: comn_prod.Filter_Model default "",
		filterPattern: comn_prod.Filter_Pattern default "",
		filterPerformance: comn_prod.Filter_Performance default "",
		filterSeries: comn_prod.Filter_Series default "",
		filterShape: comn_prod.Filter_Shape default "",
		filterSite: comn_prod.Filter_Site default "",
		filterSize: comn_prod.Filter_Size default "",
		filterStyle: comn_prod.Filter_Style default "",
		filterSystem: comn_prod.Filter_System default "",
		filterThickness: comn_prod.Filter_Thickness default "",
		filterType: comn_prod.Filter_Type default "",
		filterWidth: comn_prod.Filter_Width default "",
		unit: comn_prod.Unit default "",
		unitCode: comn_prod.Unit_code default "",
		unitPerUsageArea: comn_prod.Unit_Per_Usage_Area default "",
		usageAreaPerPackage: comn_prod.Usage_Area_Per_Package default "",
		usageAreaPerUnit: comn_prod.Usage_Area_Per_Unit default "",
//		unitPerPallet: comn_prod,
		weightNumber: comn_prod.Weight_Number default "",
		weightUnit: comn_prod.Weight_Unit default "",
		volumeNumber: comn_prod.Volume_Number default "",
		volumeUnit: comn_prod.Volume_Unit default "",
		widthNumber: comn_prod.Width_Number default "",
		widthText: comn_prod.Width_Text default "",
		widthUnit: comn_prod.Width_Unit default "",
		heightNumber: comn_prod.Height_Number default "",
		heightText: comn_prod.Height_Text default "",
		heightUnit: comn_prod.Height_Unit default "",
		lengthNumber: comn_prod.Length_Number default "",
		lengthText: comn_prod.Length_Text default "",
		lengthUnit: comn_prod.Length_Unit default "",
		thicknessNumber: comn_prod.Thickness_Number default "",
		thicknessText: comn_prod.Thickness_Text default "",
		thicknessUnit: comn_prod.Thickness_Unit default "",
		product2D: comn_prod.Product_2D default "",
		product3D: comn_prod.Product_3D default "",
		image360: comn_prod.Image360 default "",
//		createdAt: comn_prod
	},
	categories: [{
//		id: null,
		code: comn_prod.PH2 default "",
//		name: null,
//		parentId: null,
//		status: null,
//		calculable: null,
//		mainCategory: {
//			id: null,
//			code: null,
//			name: null,
//			parentId: null,
//			status: null,
//			calculable: null,
//			groups: [{
//				id: null,
//				name: null,
//				iconUrl: null,
//				url: null,
//				seq: null
//			}]
//		}
	}],
	applications: {
//		id: "",
		cmsId: comn_app.CMS_ID default "",
		syncId: comn_app.Application_CMS_ID default "",
		name: comn_attach.File_name default "",
//		description: "",
		applicationType: comn_app.Application_Type default "",
//		contentType: "",
//		expirePeriod: "",
//		applicableFor: "",
//		url: "",
//		subBrand: "",
//		market: "",
//		confidential: "",
//		status: "",
		productId: comn_app.PROD_ID default ""
	},
	attachments: {
//		id: comn_attach.id,
//		attachmentType: comn_attach,
		siteCoreId: comn_attach.Sitecore_ID default "",
		title: comn_attach.title default "",
		fileName: comn_attach.File_name default "",
		attachmentUrl: comn_attach.Attachment_URL default "", 
		format: comn_attach.Format default "",
		extension: comn_attach.Extension default "",
		dimension: comn_attach.Dimension default "",
		width: comn_attach.Width default "",
		height: comn_attach.Height default "",
		length: comn_attach.Length default "",
//		status: "",
//		createdDate: "",
//		createdBy: "",
//		updatedDate: "",
//		updatedBy: "",
		productId: comn_attach.PROD_ID default ""
	},
	parent: if(comn_prod.MAT_NO_SAP_R3 != comn_prod.Main_Product_SAP_ID) {
//		id: vars.check_parent_res.id,
		cmsId: vars.check_parent_res.CMS_ID default "",
		code: vars.check_parent_res.Barcode default "",
		barcode: vars.check_parent_res.Barcode default "",
		name: vars.check_parent_res.Product_Name_TH default "",
		price: vars.check_parent_res.price default "",
//		parentId: vars.check_parent_res.Main_Product_SAP_ID,
		status: if(vars.check_parent_res.Active_Status_Website == "Yes") "active" 
				else if(vars.check_parent_res.Active_Status_Website == "No") "inactive"
				else "" default "",
//		createdDate: null,
		children: vars.check_child_res map {
//			id: $.id,
			cmsId: $.CMS_ID default "",
			code: $.Barcode default "",
			barcode: $.Barcode default "",
			name: $.Product_Name_TH default "",
//			price: $.price,
			parentId: $.Main_Product_SAP_ID default "",
			status: $.Active_Status_Website default "",
//			createdDate: null
		}
	} else [],
	children: if (comn_prod.MAT_NO_SAP_R3 == comn_prod.Main_Product_SAP_ID) vars.check_parent_res map {
//			id: $.id,
			cmsId: $.CMS_ID default "",
			code: $.Barcode default "",
			barcode: $.Barcode default "",
			name: $.Product_Name_TH default "",
//			price: $.price,
			parentId: $.Main_Product_SAP_ID default "",
			status: $.Active_Status_Website default "",
//			createdDate: null
	} else []
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
